body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 7em;
  color: #D81B60;
  text-align: center;
}

p {
  font-size: 2em;
}

ul.active {
  border-color: #fff;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% height: 100vh;
  padding: 100px;
}

.searchbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 1.5em;
  padding: 8px;
  font-size: 1em;
  border-radius: 20px;
  border-color: #000;
}

body.dark {
  background: #262626;
  color: #fff;
}

ul {
  position: absolute;
  top: 30px;
  right: 30px;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 30px;
  z-index: 1;
  border: 1px solid #000;
  cursor: pointer;
  overflow: hidden;
}

ul li {
  list-style: none;
  width: 100% height: 60%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.4s;
}

ul.active li {
  transform: translateY(-30px);
}

ul li span {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #fff;
}

ul li span:nth-child(1) {
  background: #262626;
  color: #fff;
}